@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
}
body {
  background-color: #110b35;
}
/* navbar starts here */
.topnav {
  overflow: hidden;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.logo {
  float: left;
  padding: 3.4rem 0 2em 3.4rem;
}
#tagline {
  margin: 0;
  color: #0cebeb;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0em;
  text-align: left;
}
.topnav a {
  float: left;
  color: #29ffc6;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  padding: 3.4rem 8% 0 0;
}
@media screen and (max-width: 850px) {
  .topnav-right {
    padding: 3.4rem 0;
  }
}

@media screen and (max-width: 782px) {
  .topnav-right {
    padding: 1rem 0;
  }
  .logo {
    padding: 3.4rem 0 0 0;
  }
  .topnav{
    justify-content: center;
  }
}
/* navbar ends here */
/* hero section starts here */
.hero {
  width: 100vw;
  margin-bottom: 5%;
}
.main-hero {
  width: 80%;
  height: 90%;
  background: linear-gradient(132.12deg, #11998e 0%, #38ef7d 97.56%);
  margin: 0 auto;
  border-radius: 50px 10px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

.item-1 {
  width: 50%;
  margin: 6% 3% 3% 5%;
}
.item-1 h1 {
  font-size: 3rem;
  color: white;
  font-weight: 900;
  width: 90%;
}
.item-1 h5 {
  color: white;
  width: 70%;
  line-height: 1.4rem;
  margin: 4% 0;
}
.item-2 img {
  width: 100%;
}

.item-3 {
  text-align: center;
  color: white;
  margin: 3% auto;
  width: 80%;
}

.join {
  border-radius: 50px 10px;
  background-color: #35523e;
  display: flex;
  padding: 0.2rem 2rem;
  height: 3rem;
  width: 80%;
}
.join p {
  display: flex;
  margin: auto 0;
  font-size: 0.9rem;
  color: white;
}
#join-us {
  color: #110b35;
  font-size: 0.9rem;
  margin: auto 0;
  margin-left: 1rem;
}
.button {
  width: 115px;
  height: 25px;
  background: #29ffc6;
  text-align: center;
  border-radius: 50px 10px;
  font-weight: bold;
  line-height: 25px;
}
@media screen and (max-width: 1106px) {
  .item-1 {
    width: auto;
    text-align: center;
  }
  .item-1 h5 {
    width: auto;
  }
  .join {
    width: auto;
    display: flex;
    justify-content: center;
  }
  .item-2 {
    margin: auto;
  }
}
/* hero section ends here */
hr {
  background-color: #04aa6d;
}
/* footer starts here */

.footer {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0;
}
.footer .logo {
  margin: auto 0;
  padding: 3.4rem 0 2rem 2rem;
  width: 30%;
}
.footer a {
  float: left;
  color: #29ffc6;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}

.footer a:hover {
  background-color: #ddd;
  color: black;
}

.footer a.active {
  background-color: #04aa6d;
  color: white;
}

.footer-right {
  display: flex;
  flex-wrap: wrap;
  float: right;
  justify-content: center;
  padding: 3.4rem 2rem 0 0;
  margin-left: auto;
}
.part {
  border-radius: 50px 10px;
  /* background: linear-gradient(132.12deg, #11998e 0%, #38ef7d 97.56%); */
  background-color: #35523e;
  display: flex;
  padding: 0.2rem 2rem;
  height: 3rem;
}
.part p {
  display: flex;
  margin: auto 0;
  font-size: 0.9rem;
  color: white;
}
.button {
  width: 115px;
  height: 25px;
  background: #29ffc6;
  text-align: center;
  border-radius: 50px 10px;
  font-weight: bold;
  line-height: 25px;
}
#part {
  color: #110b35;
  font-size: 0.9rem;
  margin: auto 0;
  margin-left: 1rem;
}
#address {
  color: #6ca99980;
}
@media screen and (max-width: 1240px) {
  .footer .logo {
    padding: 2rem 0 2rem 1rem;
    margin: auto;
  }
  .footer-right {
    padding: 0 2rem 1rem 0;
  }
}
/* footer ends here */
